# Database
DB_NAME=taskdb
DB_USER=flaskuser
DB_PASSWORD=flaskpassword
MYSQL_ROOT_PASSWORD=rootpassword

# Flask
FLASK_ENV=development
SECRET_KEY=your-secret-key-here-change-in-production

# AWS (for manual deployment)
AWS_REGION=us-east-1
ECR_REGISTRY=105927215341.dkr.ecr.us-east-1.amazonaws.com
ECR_REPOSITORY=flask-devops-app
ECS_CLUSTER=flask-devops-cluster
ECS_SERVICE=flask-devops-service
